

a {
   font-size: 1.7em;
    font-weight: bold;
    padding: 30px;
    
    
}

#wrapper {
    width: 940px;
    border: 2px solid #000205;
    margin: 20px auto;
    padding: 20px;
    background: #4a3c75;
    border-radius: 20px;
}

body {
    background: #000205;
}


.first {
    background: #8970d4;
    width: 300px;
    height: 100px;
    float: left;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
    
}

.second {
    background: #237531;
    width: 300px;
    height: 100px;
    float: right;
    margin-left: 20px;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
}

.third {
    background: #a18427;
    width: 300px;
    height: 100px;
    float: right;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
    
}

.fourth {
    background: #4e8fba;
    width: 300px;
    height: 100px;
    float: left;
    margin-top: 20px;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
   
}

.fifth {
    background: #a668a5;
    width: 300px;
    height: 100px;
    float: right;
    margin-top: 20px;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.sixth {
    background: #a3936f;
    width: 300px;
    height: 100px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 30px;
}

h1 {
    text-align: center;
    color: #fafafa;
    background: #000205;
    padding: 20px;
    border-radius: 20px;
}

h3 {
    color: #fafafa;
    text-align: center;
}

footer {
    width: 940px;
    height: 50px;
    background: #000205;
    clear: both;
    border-radius: 20px;
}

